/* The cross axis is the opposite of the main axis. It tells CSS how to align column and row items vertically or horizontally.
 The property that assigns a value to the croxx axis is 'align-items'. The values; 'flex-start', 'flex-end', 'center',
  'stretch' and 'baseline' are available to make positioning adjustments. */


<style>
  #box-container {
    background: gray;
    display: flex;
    height: 500px;
    align-items: center;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 200px;
    font-size: 24px;
  }

  #box-2 {
    background-color: orangered;
    width: 200px;
    font-size: 18px;
  }
</style>

<div id="box-container">
  <div id="box-1"><p>Hello</p></div>
  <div id="box-2"><p>Goodbye</p></div>
</div>