/* Class style properties can override inherited properties. When there are conflicting elements, one will dominate the
other */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }

  .pink-text {
    color: pink;
  }
</style>

<h1 class="pink-text">Hello World!</h1>