/* Not all browsers support CSS variable values and styles must be accounted for in other declarations in order to avoid
 default fallback values. */

<style>
  :root {
    --red-color: red;
  }
  .red-box {
    background: red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>